.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, calc(-100% - 20px));
  background-color: var(--off-white);
  color: var(--unremarkable-dark-gray);
  padding: var(--spacing-unit-half) var(--spacing-unit) 0;
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
  z-index: 1001;

  @media (prefers-reduced-motion: no-preference) {
    animation: slideIn 2400ms ease-in-out;
  }

  &.achievementToast {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 1;

    h4 {
      margin: 0;
    }

    p {
      margin: 0;
      padding-top: var(--spacing-unit-quarter);
      font-size: var(--text-small);
    }

    svg {
      flex: 0 0 46px;
      margin-right: var(--spacing-unit);
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translate(-50%, calc(-100% - 20px));
  }
  10% {
    transform: translate(-50%, 0);
  }
  90% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, calc(-100% - 20px));
  }
}
