.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 60ch;
  margin: 0 auto;
}

.label {
  display: block;
  margin-bottom: var(--spacing-unit-half);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.input,
.textarea {
  width: 100%;
  padding: var(--spacing-unit-half);
  margin-bottom: var(--spacing-unit);
  border: none;
  background-color: var(--unremarkable-semi-opaque-light-gray);
  border-radius: var(--border-radius-medium);
  font-size: var(--font-medium);
  line-height: var(--line-height-tall);
  border: 2px solid transparent;

  &:focus-visible {
    outline: none;
    border: 2px solid var(--unremarkable-semi-opaque-gray);
  }
}

.textarea {
  max-width: 100%;
  min-width: 100%;
}

.button {
  border-radius: var(--border-radius-medium);
  padding: var(--spacing-unit-half);
  border: none;
  box-shadow: none;
  width: 100%;
  text-transform: capitalize;
  border: 2px solid transparent;
  display: block;
  margin: 0 auto var(--spacing-unit);
  transition:
    background-color var(--transition-duration-quick) ease-out,
    color var(--transition-duration-super-quick) ease;

  &:hover,
  &:focus-visible {
    background-color: var(--unremarkable-semi-opaque-gray);
    outline: none;
    color: var(--white);
  }

  &:focus-visible {
    border: 2px solid var(--unremarkable-semi-opaque-gray);
  }
}

.submitMessage {
  max-width: 320px;
  margin: auto;
  text-align: center;
  padding-bottom: 100px;
}
