@use "./a11yreset";
@use "./variables";
@use "./typography";
@use "./inputs";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--heading-font);
  background-color: var(--unremarkable-light-gray);
  overflow-x: clip;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

.h-full {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  user-select: none;
  border-radius: var(--border-radius-medium);
}

.fallingText {
  display: inline-block;
}

@for $i from 1 through 10 {
  .fallingText-#{$i + 1} {
    transform: rotate(#{3deg * $i + 1}) translate(#{(1px * $i) * $i + 1});
  }
}

.contentBody {
  margin-inline: auto;
  max-width: 760px;
  padding: 0 var(--spacing-unit) var(--spacing-unit-double);

  .contentBodyHeader {
    display: flex;
    gap: var(--spacing-unit-half);
    margin-bottom: var(--spacing-unit);

    > div {
      flex: 1 1 calc(33% - var(--spacing-unit));
    }
  }
}
