:root {
  --transition-duration: 500ms;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: #d3d3d3;
  overflow-x: clip;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.5;

  &::selection {
    color: rgb(235, 235, 235);
    background: rgba(23, 23, 23, 0.2);
  }
}

h2 {
  font-size: 2rem;
  line-height: 1.2;

  &::selection {
    color: rgb(235, 235, 235);
    background: rgba(23, 23, 23, 0.2);
  }
}

h3 {
  font-size: 1.75rem;
  line-height: 1.2;

  &::selection {
    color: rgb(235, 235, 235);
    background: rgba(23, 23, 23, 0.2);
  }
}

h4 {
  font-size: 1.5rem;
  line-height: 1.2;

  &::selection {
    color: rgb(235, 235, 235);
    background: rgba(23, 23, 23, 0.2);
  }
}

p {
  font-size: 1.2rem;
  line-height: 1.2;
  font-family: "Nunito", sans-serif;

  &::selection {
    color: rgb(235, 235, 235);
    background: rgba(23, 23, 23, 0.2);
  }
}

span {
  font-size: 1.2rem;
  line-height: 1.2;

  &::selection {
    color: rgb(235, 235, 235);
    background: rgba(23, 23, 23, 0.2);
  }
}

.pageTitle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 5svh 0;
  height: calc(20% - 20px);
  width: calc(100% - 20px);
  letter-spacing: 1.6px;
  color: #646464;
  z-index: -1;
  opacity: 0;
  animation: fadeIn 800ms ease-out 200ms;
  animation-fill-mode: forwards;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 400;

  &.pageTitleHidden {
    bottom: 7px;
    left: 50px;
    font-size: 1.2rem;
    letter-spacing: normal;
    padding: 0;
    width: auto;
    height: auto;
    z-index: 1;
    text-decoration: none;

    span {
      display: none;
    }
  }

  span {
    display: block;
    padding-top: 10px;
    color: #787878;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 769px) {
  .pageTitle {
    bottom: 0;
    transform-origin: left;
    left: calc(100% - (17.5% + 20px));
    height: calc(100% - 20px);
    width: calc(20% - 20px);
    padding: 0;

    &.pageTitleHidden {
      top: 50px;
      bottom: auto;
      left: auto;
      right: 15px;
      transform: rotate(-90deg);
      transform-origin: right;
      padding: 0.25rem 0.5rem;
      border: 2px solid transparent;

      &:focus {
        outline: none;
        border: 2px solid rgba(30, 30, 30, 0.5);
        border-radius: 6px;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
