.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  height: 100svh;
  padding: calc(var(--spacing-unit) / 2);

  @media (prefers-reduced-motion: no-preference) {
    transition: all var(--transition-duration) linear;
  }

  &:last-child {
    padding-bottom: calc(var(--spacing-unit) * 1.75);
    padding-right: calc(var(--spacing-unit) / 2);
  }
}

@media screen and (min-width: 768px) {
  .layout {
    flex-direction: row;

    &:last-child {
      padding-bottom: calc(var(--spacing-unit) / 2);
      padding-right: calc(var(--spacing-unit) * 1.75);
    }
  }
}
