.modal {
  position: fixed;
  inset: 0;
  background: var(--off-white);
  overflow: auto;
  z-index: 1000;

  .modalHeader {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--off-white);
    padding: var(--spacing-unit);

    h2 {
      margin: 0;
    }
  }

  .modalContent {
    padding: var(--spacing-unit);
  }
}
