.pageWrapper {
  position: fixed;
  bottom: var(--spacing-unit);
  height: var(--fifth-minus-20);
  width: var(--full-minus-20);
  padding: 0 var(--spacing-unit-half);
  opacity: 0;
  animation: fadeIn var(--transition-duration-slow) ease-in 250ms;
  animation-fill-mode: forwards;

  @media screen and (min-width: 769px) {
    top: var(--spacing-unit-half);
    right: var(--spacing-unit-double);
    bottom: var(--spacing-unit);
    left: auto;
    height: var(--full-minus-20);
    width: var(--fifth-minus-20);
    transform-origin: right;
    padding: var(--spacing-unit-half) 0;
  }
}

.pageHeader {
  position: fixed;
  top: auto;
  right: var(--spacing-unit-half);
  bottom: 0;
  left: var(--spacing-unit);
  width: calc(100% - var(--spacing-unit));
  height: 35px;
  padding: 0;
  opacity: 0;
  animation: fadeIn var(--transition-duration-slow) ease-in 250ms;
  animation-fill-mode: forwards;

  @media screen and (min-width: 769px) {
    width: calc(100dvh - var(--spacing-unit));
    transform: rotate(-90deg);
    transform-origin: top right;
    left: auto; // actually top
    top: var(--spacing-unit); // actually right
    right: 35px; // actually bottom
    bottom: var(--spacing-unit); // actually left
  }
}

.pageTitle {
  font-size: var(--font-x-large);
  font-weight: var(--weight-bold);
  letter-spacing: 1.6px;
  color: var(--unremarkable-darker-gray);
  font-family: var(--heading-font);
  line-height: var(--line-height);
  margin: 0;
  background: transparent;

  &.pageTitleMinimized {
    font-size: var(--font-medium);
    letter-spacing: normal;
    text-decoration: none;

    @media screen and (min-width: 769px) {
      padding: var(--spacing-unit-quarter) var(--spacing-unit-half);
      border: 2px solid transparent;

      &:focus-visible {
        outline: none;
        border: 2px solid var(--unremarkable-semi-opaque-gray);
        border-radius: var(--border-radius-small);
      }
    }
  }
}

.pageSubtitle {
  padding-top: var(--spacing-unit-half);
  color: var(--unremarkable-dark-gray);
  font-size: var(--font-medium);
  margin: 0;
}

.pageLinks {
  margin-top: var(--spacing-unit-half);

  a {
    display: inline-block;
  }

  @media screen and (min-width: 769px) {
    .pageHeader & {
      position: fixed;
      top: calc(var(--spacing-unit-half) * -1);
      right: 0;
    }
  }

  a:first-child {
    margin-right: var(--spacing-unit-half);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
