.pageWrapper {
  margin: var(--spacing-unit-half) 0;
  border-radius: var(--border-radius-large);
  box-shadow: 0 0 6px 4px rgba(6, 6, 6, 0.07);
  min-height: 80px;
  min-width: 100%;

  @media (prefers-reduced-motion: no-preference) {
    transition: all var(--transition-duration) ease-in-out;
  }

  // applies to all non-active pages
  &.pageWrapperScrolled {
    margin: var(--spacing-unit-quarter) 0;
    min-height: 20px;
    height: 20px;

    @media screen and (min-width: 769px) {
      margin: 0 var(--spacing-unit-quarter);
    }
  }
}

@media screen and (min-width: 769px) {
  .pageWrapper {
    min-height: 100%;
    min-width: 100px;
    margin: 0 var(--spacing-unit-half);

    &.pageWrapperScrolled {
      min-height: 100%;
      min-width: 20px;
      width: 20px !important;
      margin: 0 var(--spacing-unit-quarter);
    }
  }
}
