.pageWrapper {
  position: fixed;
  display: flex;
  bottom: calc(var(--spacing-unit) * 2.5);
  left: calc(var(--spacing-unit) / 2);
  right: calc(var(--spacing-unit) / 2);
  z-index: 1;
  opacity: 0;
  animation: fadeIn var(--transition-duration-slow) ease-out 200ms;
  animation-fill-mode: forwards;

  .pageTitleWrapper {
    flex: 1 1 50%;
  }

  &.pageWrapperMinimized {
    bottom: 7px;
  }

  @media screen and (min-width: 769px) {
    flex-direction: column;
    top: var(--spacing-unit);
    right: var(--spacing-unit);
    bottom: var(--spacing-unit);
    left: auto;
    width: calc(17.5% + var(--spacing-unit));
    transform-origin: right;

    &.pageWrapperMinimized {
      transform: rotate(-90deg);
      width: auto;
      height: 19px;
    }
  }
}

// column one
.pageTitle {
  flex: 1 1 auto;
  font-size: var(--font-x-large);
  font-weight: 600;
  letter-spacing: 1.6px;
  color: var(--unremarkable-darker-gray);
  font-family: var(--heading-font);
  font-weight: 400;
  line-height: var(--line-height);
  margin: 0;

  &.pageTitleMinimized {
    font-size: var(--font-medium);
    letter-spacing: normal;
    text-decoration: none;

    @media screen and (min-width: 769px) {
      padding: calc(var(--spacing-unit) / 4) calc(var(--spacing-unit) / 2);
      border: 2px solid transparent;

      &:focus {
        outline: none;
        border: 2px solid var(--unremarkable-semi-opaque-gray);
        border-radius: var(--border-radius-small);
      }
    }
  }
}

// column two
.pageSubtitle {
  flex: 1 1 50%;
  padding-top: calc(var(--spacing-unit) / 2);
  color: var(--unremarkable-dark-gray);
  font-size: var(--font-medium);
  margin: 0;
}

// column three
.pageContent {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  align-items: space-between;
  justify-content: space-between;

  .pageDescription {
    flex: 1 1 auto;
    padding-top: calc(var(--spacing-unit) / 2);
    color: var(--unremarkable-dark-gray);
    font-size: var(--font-small);
    margin: 0;

    + .pageDescription {
      flex: 0 0 auto;
      padding-top: 0;
      font-style: italic;
      text-align: center;
      padding-bottom: calc(var(--spacing-unit) / 2);
    }
  }

  .pageLinks {
    display: flex;
    justify-content: space-around;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
