.pageWrapper {
  position: fixed;
  display: flex;
  top: calc(80% + var(--spacing-unit) / 2);
  height: var(--fifth-minus-20);
  width: var(--full-minus-20);
  padding: 0 calc(var(--spacing-unit) / 2);
  opacity: 0;
  animation: fadeIn var(--transition-duration-slow) ease-in 250ms;
  animation-fill-mode: forwards;

  .pageTitleWrapper {
    flex: 1 1 50%;
  }

  &.pageWrapperMinimized {
    width: auto;
    top: auto;
    left: var(--spacing-unit);
    bottom: calc(var(--spacing-unit) / 2);
    right: auto;
    padding: 0;
    height: var(--spacing-unit);
  }

  @media screen and (min-width: 769px) {
    flex-direction: column;
    top: calc(var(--spacing-unit) / 2);
    right: calc(var(--spacing-unit) * 2);
    bottom: var(--spacing-unit);
    left: auto;
    height: var(--full-minus-20);
    width: var(--fifth-minus-20);
    transform-origin: right;
    padding: calc(var(--spacing-unit) / 2) 0;

    &.pageWrapperMinimized {
      transform: rotate(-90deg);
      right: var(--spacing-unit);
      bottom: auto;
      left: auto;
      height: 35px;
    }
  }
}

// column one
.pageTitle {
  flex: 1 1 auto;
  font-size: var(--font-x-large);
  font-weight: 600;
  letter-spacing: 1.6px;
  color: var(--unremarkable-darker-gray);
  font-family: var(--heading-font);
  font-weight: 400;
  line-height: var(--line-height);
  margin: 0;
  background: transparent;

  &.pageTitleMinimized {
    font-size: var(--font-medium);
    letter-spacing: normal;
    text-decoration: none;

    @media screen and (min-width: 769px) {
      padding: calc(var(--spacing-unit) / 4) calc(var(--spacing-unit) / 2);
      border: 2px solid transparent;

      &:focus-visible {
        outline: none;
        border: 2px solid var(--unremarkable-semi-opaque-gray);
        border-radius: var(--border-radius-small);
      }
    }
  }
}

// column two
.pageSubtitle {
  flex: 1 1 50%;
  padding-top: calc(var(--spacing-unit) / 2);
  color: var(--unremarkable-dark-gray);
  font-size: var(--font-medium);
  margin: 0;
}

// column three
.pageContent {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  justify-content: space-between;

  .pageDescription {
    flex: 1 1 auto;
    padding-top: calc(var(--spacing-unit) / 2);
    color: var(--unremarkable-dark-gray);
    font-size: var(--font-small);
    margin: 0;

    + .pageDescription {
      flex: 0 0 auto;
      padding-top: 0;
      text-align: right;
      padding-bottom: calc(var(--spacing-unit) / 2);

      @media screen and (min-width: 769px) {
        text-align: left;
      }
    }
  }

  .pageLinks {
    display: flex;
    justify-content: end;

    @media screen and (min-width: 769px) {
      justify-content: start;
    }

    a:first-child {
      margin-right: calc(var(--spacing-unit) / 2);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
