.preview {
  overflow: auto;
  border-radius: var(--border-radius-large);
  transition: all var(--transition-duration) ease-in-out;
  width: 100%;
  height: 100%;
}

.previewLinkHoverContent {
  display: none;
}

.previewLink {
  color: inherit;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: var(--spacing-unit);
  width: 100%;
  height: 100%;
  box-shadow: none;
  background-color: transparent;
  animation: fadeIn var(--transition-duration) linear;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: var(--spacing-unit);
  transition: border-color var(--transition-duration-quick) ease-out;

  &:focus {
    outline: none;
    border: 2px solid var(--unremarkable-semi-opaque-dark-gray);
  }

  .previewContent {
    text-align: center;
    font-weight: 600;
    font-size: var(--font-medium);
    letter-spacing: 2px;
    margin: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.previewContent {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  &::selection {
    background: var(--unremarkable-semi-opaque-gray);
  }
}

@media screen and (min-width: 769px) {
  .previewLink {
    justify-content: flex-end;
  }

  .previewContent {
    flex-direction: column;
  }

  .previewLinkHoverContent {
    display: block;
    position: absolute;
    bottom: calc((var(--spacing-unit) / 4) * -1);
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--font-small);
    transition: all var(--transition-duration) ease-in-out;
    opacity: 0;

    &.previewLinkHoverContentHovered {
      opacity: 1;
    }
  }
}
