.themeMenu {
  position: fixed;
  bottom: var(--spacing-unit);
  right: 0;
  transform: translateX(var(--full-minus-20));
  width: calc(17.5% + 40px);
  transition: all var(--transition-duration-quick) ease-out;
  background-color: transparent;
  padding: var(--spacing-unit);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: var(--spacing-unit) solid transparent;
  border-bottom: 0;
  color: var(--unremarkable-medium-gray);

  .themeMenuHeader {
    display: flex;
    position: absolute;
    align-items: center;
    transform-origin: left top;
    font-size: var(--font-medium);
    margin: 0;
    transform: rotate(-90deg) translateX(-50%);
    top: 50%;
    left: -25px;
    transition: all var(--transition-duration-super-quick) ease-out;

    span {
      padding-left: calc(var(--spacing-unit) / 2);
    }
  }

  &:hover,
  &:focus-within {
    &:not(.themeMenuActive) {
      box-shadow: 0 0 6px 3px var(--unremarkable-semi-opaque-light-gray);
    }
  }

  &:hover,
  &:focus-within,
  &.themeMenuActive {
    background-color: var(--unremarkable-medium-gray);
    transform: translateX(0);

    .themeMenuHeader {
      transform: rotate(0) translateX(-50%);
      top: 0;
      left: 50%;
      font-size: var(--font-medium);
    }
  }

  ul {
    list-style: none;
    margin: var(--spacing-unit) 0 0;
    padding: 0;
  }

  .themeButton {
    border-radius: var(--border-radius-medium);
    margin-bottom: 0.35rem;
    padding: calc(var(--spacing-unit) / 2);
    border: none;
    box-shadow: none;
    width: 100%;
    text-transform: capitalize;
    transition:
      background-color var(--transition-duration-quick) ease-out,
      color var(--transition-duration-super-quick) ease;
    border-radius: var(--border-radius-medium);
    border: 2px solid transparent;

    &:hover,
    &:focus,
    &.themeButtonActive {
      background-color: var(--unremarkable-semi-opaque-gray);
      outline: none;
      color: var(--white);
    }

    &:focus {
      border: 2px solid var(--unremarkable-semi-opaque-gray);
    }
  }
}

@media screen and (max-width: 768px) {
  .themeMenu {
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--border-radius-medium);
    bottom: 0;
    right: var(--spacing-unit);
    transform: translateY(var(--full-minus-20));
    width: auto;
    height: calc(17.5% + 45px);

    .themeMenuHeader {
      left: 50%;
      top: -var(--spacing-unit);
      transform: rotate(0) translateX(-50%);
    }

    &:hover,
    &:focus-within,
    &.themeMenuActive {
      .themeMenuHeader {
        top: 0;
        left: 50%;
        font-size: var(--font-medium);
      }
    }
  }
}
