.themeMenu {
  position: fixed;
  bottom: 350px;
  right: 0;
  transform: translateX(calc(var(--full-minus-20) - var(--spacing-unit)));
  background-color: transparent;
  padding: var(--spacing-unit) var(--spacing-unit) 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: var(--spacing-unit) solid transparent;
  z-index: 2;

  @media (prefers-reduced-motion: no-preference) {
    transition: all var(--transition-duration-quick) ease-out;
  }

  @media screen and (max-width: 768px) {
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--border-radius-medium);
    bottom: 0;
    right: var(--spacing-unit);
    transform: translateY(calc(var(--full-minus-20) - var(--spacing-unit)));
    width: auto;

    &:hover,
    &:focus-within,
    &.themeMenuActive {
      .themeMenuHeader {
        left: 50%;
        top: calc(var(--spacing-unit-quarter) * -1);
        font-size: var(--font-medium);
      }
    }
  }

  .themeMenuHeader {
    display: flex;
    position: absolute;
    align-items: center;
    transform-origin: left top;
    font-size: var(--font-medium);
    color: var(--unremarkable-darker-gray);
    font-weight: var(--weight-bold);
    font-family: var(--body-font);
    margin: 0;
    transform: rotate(-90deg) translateX(-50%);
    top: 50%;
    left: calc(var(--spacing-unit) * -1);
    border: 1px solid var(--off-white);
    background-color: var(--off-white);
    border-top-left-radius: var(--border-radius-medium);
    border-top-right-radius: var(--border-radius-medium);
    padding: var(--spacing-unit-quarter) var(--spacing-unit);

    @media (prefers-reduced-motion: no-preference) {
      transition: all var(--transition-duration-super-quick) ease-out;
    }

    @media screen and (max-width: 768px) {
      left: 50%;
      top: calc(var(--spacing-unit) * -1);
      height: 40px;
      transform: rotate(0) translateX(-50%);
    }

    span {
      padding-left: var(--spacing-unit-quarter);
      padding-top: 4px;
    }
  }

  .themeMenuMessage {
    display: flex;
    width: calc(100% + var(--spacing-unit-double));
    max-width: 195px;
    padding: var(--spacing-unit-half) var(--spacing-unit);
    margin: var(--spacing-unit) auto var(--spacing-unit-half);
    border-radius: var(--border-radius-medium);
    font-size: var(--font-small);

    svg {
      min-width: 24px;
      margin-right: 10px;
    }
  }

  &:hover,
  &:focus-within,
  &.themeMenuActive {
    background-color: var(--unremarkable-light-gray);
    transform: translateX(0);
    box-shadow: 0 0 6px 4px rgba(6, 6, 6, 0.07);

    .themeMenuHeader {
      transform: rotate(0) translateX(-50%);
      top: calc(var(--spacing-unit-half) * -1);
      left: 50%;
      font-size: var(--font-medium);
      border: 1px solid transparent;
      background-color: transparent;
    }

    .themeMenuMessage {
      background: var(--off-white);
    }
  }

  ul {
    list-style: none;
    margin: var(--spacing-unit) 0 0;
    padding: 0;
  }
}

.themeButton {
  margin-bottom: 0.35rem;
  padding: var(--spacing-unit-half);
  box-shadow: none;
  width: 100%;
  text-transform: capitalize;
  border: 2px solid transparent;
  border-radius: var(--border-radius-medium);
  background-color: var(--unremarkable-semi-opaque-gray);
  color: var(--white);
  transition:
    background-color var(--transition-duration-quick) ease-out,
    color var(--transition-duration-super-quick) ease;

  &:hover,
  &.themeButtonActive {
    background-color: var(--unremarkable-dark-gray);
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--unremarkable-dark-gray);
  }
}
