.pagePreview {
  border-radius: var(--border-radius-large);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  transition: all var(--transition-duration) ease-in-out;

  @media screen and (min-width: 769px) {
    flex-direction: column;
  }

  &.pagePreviewScrolled {
    opacity: 0;
  }
}
