.modal {
  --maxW: max(25px, 5dvw);
  --maxH: max(25px, 5dvh);

  position: fixed;
  bottom: auto;
  right: auto;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: calc(100% - (var(--maxW) * 2));
  max-height: calc(100% - (var(--maxH) * 2));
  background: var(--off-white);
  overflow: auto;
  z-index: 1001;
  border-radius: var(--border-radius-medium);

  &.modalSmall {
    --maxW: max(50px, 5dvw);
    --maxH: max(50px, 5dvh);

    @media screen and (min-width: 400px) {
      max-width: 50dvw;
    }

    @media screen and (min-width: 769px) {
      --maxW: max(150px, 30dvw);
      --maxH: 0;
    }
  }
}

.modalBackdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalHeader {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  color: var(--unremarkable-medium-gray);
  padding: var(--spacing-unit-half) var(--spacing-unit);
  background: var(--off-white);
  font-family: var(--body-font);
  z-index: 2;

  .modalHeaderTitle {
    flex: 1;
    font-family: var(--body-font);
    font-weight: 800;
    color: var(--unremarkable-darker-gray);
    letter-spacing: 0.1em;
    font-size: var(--font-x-large);
    margin: 0;

    @media (min-width: 769px) and (max-width: 968px) {
      font-size: var(--font-medium);
    }
  }

  .modalHeaderSubtitle {
    font-size: var(--font-small);
    margin: 0;

    @media screen and (min-width: 769px) {
      font-size: var(--font-medium);
    }
  }

  .modalSmall & {
    padding: var(--spacing-unit-quarter) var(--spacing-unit-half);
  }

  @media screen and (min-width: 769px) {
    padding: var(--spacing-unit) var(--spacing-unit-double);
  }

  div {
    flex: 1;

    &:nth-child(2) {
      padding-left: var(--spacing-unit-half);
    }
  }

  button {
    flex: 0 0 34px;
    border-radius: var(--border-radius-medium);
  }
}

.modalContent {
  padding: var(--spacing-unit);
}
