.themePanel {
  position: absolute;
  border-radius: var(--border-radius-medium);
  width: 100%;
  height: auto;
  margin-top: var(--spacing-unit);
  background-color: var(--off-white);
  box-shadow: var(--box-shadow);
  padding: var(--spacing-unit);
  transition: all var(--transition-duration-quick) var(--animation-timing);
}

.themeMenu {
  z-index: 2;
  background-color: transparent;
  width: auto;

  ul {
    list-style: none;
    margin: var(--spacing-unit) 0 0;
    padding: 0;

    li {
      position: relative;
      border: 1px solid var(--unremarkable-semi-opaque-light-gray);

      a {
        top: 4px;
        left: 10px;
        right: 10px;
        bottom: 4px;
        position: absolute;
        z-index: 100;
      }

      button {
        min-height: 42px;
        margin-bottom: 0;
        border-width: 0 !important;
      }

      &:not(:first-child) {
        margin-top: -1px;
      }

      &:first-child {
        border-top-left-radius: var(--border-radius-medium) !important;
        border-top-right-radius: var(--border-radius-medium) !important;

        button {
          border-top-left-radius: var(--border-radius-medium) !important;
          border-top-right-radius: var(--border-radius-medium) !important;
        }
      }

      &:not(:first-child),
      &:not(:last-child) {
        margin-bottom: 0;
        border-radius: 0;

        button {
          border-radius: 0;
        }
      }

      &:nth-last-child(2) {
        border-bottom-left-radius: var(--border-radius-medium);
        border-bottom-right-radius: var(--border-radius-medium);

        button {
          border-bottom-left-radius: var(--border-radius-medium);
          border-bottom-right-radius: var(--border-radius-medium);
        }
      }

      &:last-child {
        margin-top: var(--spacing-unit);
        border-radius: var(--border-radius-medium);

        button {
          border-radius: var(--border-radius-medium);
        }
      }
    }
  }
}

.themeMenuHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--off-black);
  transition: transform var(--transition-duration-super-quick)
    var(--animation-timing);

  span {
    margin-left: var(--spacing-unit-quarter);
    font-family: var(--body-font);
    font-weight: 800;
    background: linear-gradient(to right, #000 0%, #555 25%, #777 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.1em;
    font-size: var(--font-large);

    @media (min-width: 769px) and (max-width: 968px) {
      margin-left: calc(var(--spacing-unit-quarter) * -1.9);
      font-size: var(--font-medium);
    }
  }
}

button.themeButton {
  color: var(--unremarkable-dark-gray);
  box-shadow: none;
  width: 100%;

  &.themeButtonActive {
    color: var(--off-black);

    &.themeButtonDark {
      color: var(--off-white) !important;
    }
  }

  &.themeButtonEryndor {
    border: 1px solid #013220;
    border-top-left-radius: var(--border-radius-medium);
    border-top-right-radius: var(--border-radius-medium);
    background-color: #013220 !important;
  }
}
