.themePanel {
  position: absolute;
  border-radius: var(--border-radius-medium);
  width: 100%;
  height: auto;
  margin-top: var(--spacing-unit);
  background-color: var(--off-white);
  box-shadow: var(--box-shadow);
  padding: var(--spacing-unit);

  @media (prefers-reduced-motion: no-preference) {
    transition: all var(--transition-duration-quick) ease-out;
  }
}

.themeMenu {
  z-index: 2;
  background-color: transparent;
  width: auto;

  ul {
    list-style: none;
    margin: var(--spacing-unit) 0 0;
    padding: 0;
    border: 1px solid var(--unremarkable-medium-gray);
    border-radius: calc(var(--border-radius-medium) + 1px);

    li {
      button {
        min-height: 42px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
        border-width: 0 !important;
        border-bottom: 1px solid var(--unremarkable-medium-gray) !important;
      }

      + li {
        button {
          border-top: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }

      &:last-child {
        button {
          border-bottom: 0 !important;
          border-bottom-left-radius: var(--border-radius-medium);
          border-bottom-right-radius: var(--border-radius-medium);
        }
      }
    }
  }
}

.themeMenuHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  font-family: var(--body-font);
  color: var(--unremarkable-darker-gray);

  @media (prefers-reduced-motion: no-preference) {
    transition: transform var(--transition-duration-super-quick) ease-out;
  }

  span {
    padding-left: var(--spacing-unit-quarter);
  }
}

.themeButton {
  box-shadow: none;
  width: 100%;
}

.themeMenuMessage {
  display: flex;
  justify-content: space-between;
  max-width: 195px;
  background: var(--off-white);
  padding: var(--spacing-unit-half);
  border-radius: var(--border-radius-medium);
  font-size: var(--font-small);

  div {
    margin-right: var(--spacing-unit-half);
  }
}
