.colorMenu {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: var(--spacing-unit-half);
  animation: fadeIn var(--transition-duration) ease-in-out;
  transition: all var(--transition-duration) ease-in;

  &.colorMenuExtraPadded {
    // for small screens
    padding-right: var(--spacing-unit-double);
  }

  &.colorMenuHidden {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
  }

  @media screen and (min-width: 769px) {
    flex-direction: column;
    padding-right: 0;
    margin-left: var(--spacing-unit-half);

    &.colorMenuAlignRight {
      margin-right: var(--spacing-unit-half);
    }

    &:not(.colorMenuCollapsed) {
      padding-top: var(--spacing-unit);
    }
  }

  .colorMenuLabel {
    margin: 0;
    padding: var(--spacing-unit-quarter);
    text-align: center;
    font-size: var(--font-x-small);
    transition: all var(--transition-duration-quick) ease-in-out;

    &.colorMenuLabelHidden {
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }
}

.previewColorPicker {
  position: absolute;
  display: none;
  opacity: 0;
  z-index: 1000;
  transition: opacity var(--transition-duration) ease-in;

  &.previewColorPickerActive {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
